.App {
  text-align: center;
}

.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px;
  background-color: rgba(185, 185, 253, 0.171);
  color: rgb(0, 0, 0);
  height: 100%;
}

.App-header {
  background-color: #282c34;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  width:100%;
}

.App-link {
  color: #09d3ac;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(106, 121, 179);
  /* overflow-x: hidden; Disable horizontal scroll */
  padding-top: 0px;
}

/* .sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
} */

.invAddrButton {
  bottom: 20px;
  display: block;
  width: 100%;
  background-color: rgb(250, 69, 69);
  background: #ffffff;
}

.uploadButton {
  display: block;
  width: 100%;
  background-color: rgb(166, 201, 255);
  color: #ffffff;
  text-align: center;
  position: absolute;
  bottom: 0px;
  padding: 0px;
}

.invalidButton {
  display: block;
  width: 100%;
  background-color: rgb(166, 201, 255);
  color: #ffffff;
  text-align: center;
  position: absolute;
  bottom: 0px;
  padding: 0px;
}

.uploadButton:hover {
  background-color: rgb(199, 222, 255);
  text-decoration: none;
  color: white;
}

.invalidButton:hover {
  background-color: rgb(199, 222, 255);
  text-decoration: none;
  color: white;
}

/* 
.sidenav h1 {
  background-color: #535f77;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 0;
  width: 100%;
  border: none
} */


.root {
  height: 100%;
}

.table {
  background-color: #34415c;
  color: #ffffff;
  height: 100%;
}

.tableHeader {
  position: -webkit-sticky;
  background-color: #506288;
  color: white;
  top: 0;
  position: sticky;
  border: 3px solid #282c34;
}

.tableHeader:after {
  content:'';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-bottom: 2px solid #282c34;
}

.table:hover {
  background-color: rgb(119, 141, 160);
}

.table th, .table td {
  padding: 0.75rem;
  widows: 100%;
	vertical-align: top;
	border-top: 1px solid #000;
}